# top-most EditorConfig file
root = true

# Archivos por defecto
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Archivos Markdown (no borrar espacios finales porque a veces significan <br>)
[*.md]
trim_trailing_whitespace = false

# Archivos YAML (Expo, GitHub Actions, etc.)
[*.{yml,yaml}]
indent_size = 2

# Archivos JSON (package.json, app.config.js exportado a JSON, etc.)
[*.json]
indent_size = 2
